work
*.pyc
__pycache__
.vscode/*
.idea/*
Job_Scripts/run_script.sh
Job_Scripts/script_parameter_setup.sh
singularity/compile_env.sh
singularity/pbcppl.def
singularity/pbcppl.sif
copy_to_pc2_sshivam.sh
env_setup_pipenv.sh
Pipfile
execution_time_colstim_saps.txt
execution_time_colstim.txt
regret_colstim_saps.txt
regret_colstim_saps_16.txt
regret_ucb_saps_16.txt
execution_time_ucb.txt
/regret_colstim_saps_16.txt
/regret_ucb_saps_16.txt
Regret_results/regret_Colstim_mips_5.npy
Regret_results/regret_Colstim_mips_5.txt
Regret_results/regret_Colstim_mips_6.npy
Regret_results/regret_Colstim_mips_6.txt
Regret_results/regret_Colstim_mips_7.npy
Regret_results/regret_Colstim_mips_7.txt
Regret_results/regret_Colstim_mips_8.npy
Regret_results/regret_Colstim_mips_8.txt
Regret_results/regret_Colstim_mips_9.npy
Regret_results/regret_Colstim_mips_9.txt
Regret_results/regret_Colstim_mips_10.npy
Regret_results/regret_Colstim_mips_10.txt
Regret_results/regret_Colstim_saps_5.npy
Regret_results/regret_Colstim_saps_5.txt
Regret_results/regret_Colstim_saps_6.npy
Regret_results/regret_Colstim_saps_6.txt
Regret_results/regret_Colstim_saps_7.npy
Regret_results/regret_Colstim_saps_7.txt
Regret_results/regret_Colstim_saps_8.npy
Regret_results/regret_Colstim_saps_8.txt
Regret_results/regret_Colstim_saps_9.npy
Regret_results/regret_Colstim_saps_9.txt
Regret_results/regret_Colstim_saps_10.npy
Regret_results/regret_Colstim_saps_10.txt
Regret_results/regret_UCB_mips_5.npy
Regret_results/regret_UCB_mips_5.txt
Regret_results/regret_UCB_mips_6.npy
Regret_results/regret_UCB_mips_6.txt
Regret_results/regret_UCB_mips_7.npy
Regret_results/regret_UCB_mips_7.txt
Regret_results/regret_UCB_mips_8.npy
Regret_results/regret_UCB_mips_8.txt
Regret_results/regret_UCB_mips_9.npy
Regret_results/regret_UCB_mips_9.txt
Regret_results/regret_UCB_mips_10.npy
Regret_results/regret_UCB_mips_10.txt
Regret_results/regret_UCB_saps_5.npy
Regret_results/regret_UCB_saps_5.txt
Regret_results/regret_UCB_saps_6.npy
Regret_results/regret_UCB_saps_6.txt
Regret_results/regret_UCB_saps_7.npy
Regret_results/regret_UCB_saps_7.txt
Regret_results/regret_UCB_saps_8.npy
Regret_results/regret_UCB_saps_8.txt
Regret_results/regret_UCB_saps_9.npy
Regret_results/regret_UCB_saps_9.txt
Regret_results/regret_UCB_saps_10.npy
Regret_results/regret_UCB_saps_10.txt
Execution_times_results/execution_time_Colstim_mips_5.npy
Execution_times_results/execution_time_Colstim_mips_5.txt
Execution_times_results/execution_time_Colstim_mips_6.npy
Execution_times_results/execution_time_Colstim_mips_6.txt
Execution_times_results/execution_time_Colstim_mips_7.npy
Execution_times_results/execution_time_Colstim_mips_7.txt
Execution_times_results/execution_time_Colstim_mips_8.npy
Execution_times_results/execution_time_Colstim_mips_8.txt
Execution_times_results/execution_time_Colstim_mips_9.npy
Execution_times_results/execution_time_Colstim_mips_9.txt
Execution_times_results/execution_time_Colstim_mips_10.npy
Execution_times_results/execution_time_Colstim_mips_10.txt
Execution_times_results/execution_time_Colstim_saps_5.npy
Execution_times_results/execution_time_Colstim_saps_5.txt
Execution_times_results/execution_time_Colstim_saps_6.npy
Execution_times_results/execution_time_Colstim_saps_6.txt
Execution_times_results/execution_time_Colstim_saps_7.npy
Execution_times_results/execution_time_Colstim_saps_7.txt
Execution_times_results/execution_time_Colstim_saps_8.npy
Execution_times_results/execution_time_Colstim_saps_8.txt
Execution_times_results/execution_time_Colstim_saps_9.npy
Execution_times_results/execution_time_Colstim_saps_9.txt
Execution_times_results/execution_time_Colstim_saps_10.npy
Execution_times_results/execution_time_Colstim_saps_10.txt
Execution_times_results/execution_time_UCB_mips_5.npy
Execution_times_results/execution_time_UCB_mips_5.txt
Execution_times_results/execution_time_UCB_mips_6.npy
Execution_times_results/execution_time_UCB_mips_6.txt
Execution_times_results/execution_time_UCB_mips_7.npy
Execution_times_results/execution_time_UCB_mips_7.txt
Execution_times_results/execution_time_UCB_mips_8.npy
Execution_times_results/execution_time_UCB_mips_8.txt
Execution_times_results/execution_time_UCB_mips_9.npy
Execution_times_results/execution_time_UCB_mips_9.txt
Execution_times_results/execution_time_UCB_mips_10.npy
Execution_times_results/execution_time_UCB_mips_10.txt
Execution_times_results/execution_time_UCB_saps_5.npy
Execution_times_results/execution_time_UCB_saps_5.txt
Execution_times_results/execution_time_UCB_saps_6.npy
Execution_times_results/execution_time_UCB_saps_6.txt
Execution_times_results/execution_time_UCB_saps_7.npy
Execution_times_results/execution_time_UCB_saps_7.txt
Execution_times_results/execution_time_UCB_saps_8.npy
Execution_times_results/execution_time_UCB_saps_8.txt
Execution_times_results/execution_time_UCB_saps_9.npy
Execution_times_results/execution_time_UCB_saps_9.txt
Execution_times_results/execution_time_UCB_saps_10.npy
Execution_times_results/execution_time_UCB_saps_10.txt
