work
*.pyc
__pycache__
.vscode/*
.idea/*
Job_Scripts/run_script.sh
Job_Scripts/script_parameter_setup.sh
singularity/compile_env.sh
singularity/pbcppl.def
singularity/pbcppl.sif
copy_to_pc2_sshivam.sh
env_setup_pipenv.sh
Pipfile
execution_time_colstim_saps.txt
execution_time_colstim.txt
regret_colstim_saps.txt
regret_colstim.txt
regret_ucb.txt
execution_time_ucb.txt
