work
*.pyc
__pycache__
.vscode/*
.idea/*
copy_to_pc2_sshivam.sh
env_setup_pipenv.sh
Pipfile
colstim_testing.py
Execution_times_results_v2/*
Regret_results_v2/*
venv/*
singularity/compile_env.sh
singularity/pbcppl.def
debug.py
Job_Scripts/framework_v2_runs/*
Job_Scripts/framweork_v2_colstim_v2_theta_bar_runs/*
Job_Scripts/prev_runs/*
Job_Scripts/random_init_theta_runs/*
**/*.log
Job_Scripts/*
hello_world.py
